
.search-unit{
    
    /* display: flex; */
    flex-direction: row;
}
input{
    margin-left: .5em;
    margin-top: .5em;
    outline: none;
    border: 1px ;
    padding: .2em;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    
}
input:focus{
    outline: 1px solid red;
}
input::placeholder{
    
    font-weight:400;
    margin-right: 1em;
}
.result{
    margin: 2rem 0;

}




button{
    display: block;
    margin: 1em auto;
    background-color: red;
    border: none;
    padding: .3em 2em;
    color: white;
    text-align: center;
    border-radius: 7px;
    font-weight: 500;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: red;
}

.title{
    color: red;
}
pre{
    color: white;
    font-weight: 400;
    margin: 0 3em;
    
}
@media (max-width: 600px) {
    .search-unit{
        flex-direction: row;
    }
}