
.app-name{
    margin-top: 1em;
    font-weight: 700;
    
    text-transform: uppercase;
    color: REd;
    font-size: 30px;
}
.app-motto{
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 2em;
    text-transform: capitalize;
    font-style: italic;
    color: white;
}
span{
    color: white;
}